<h1>Listing Fundraising Goals</h1>

<div class='container'>
  <%= render 'fundraising_goals' %>
</div>
<br>

<% if policy(FundraisingGoal.new).new? %>
  <%= link_to 'New Fundraising goal', new_fundraising_goal_path %> <<< Change Policy to be only fundraiser?..users need many roles and check to see if role includes 'role'
<% end %>
